{% extends 'base.njk' %}

{% set content %}
<section class="contact">
  <article class="content gap-top-600 flow">
    <div class="email">
      <div class="image">
        <img src="/images/contact/mark-and-paula.webp" alt="owners image">
      </div>
    </div>
    <div class="intro flow">
      <h2 class="headline" data-highlight="tertiary">How to find us</h2>
      <a href="mailto:mrobinson@oneconference.co.uk?subject=Lulworth House">Contact Us Here (Email)</a>
    </div>
    <div class="directions flow">
      <h2 class="headline" data-highlight="tertiary">Map</h2>
      <p>Find the quickest way....</p>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10124.405272794258!2d-2.2569360368530567!3d50.62523461799922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487255630aad4a37%3A0x50eae2da2ec86d0!2sWest%20Lulworth%2C%20Wareham!5e0!3m2!1sen!2suk!4v1613563884932!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" scrolling="no"></iframe>
    </div>
    <div class="address flow">
      <h2 class="headline" data-highlight="tertiary">Address</h2>
      <address>
        <p>1A Amelia</p>
        <p>Main Road</p>
        <p>West Lulworth</p>
        <p>BH20 5RJ</p>
      </address>
    </div>
  </article>
</section>

{% endset %}