<header role="banner" class="site-header">
  <nav aria-label="Primary navigaton">
    <a href="/" aria-label="{{ site.name }} - home" class="logo">
      {% include "../../images/favicon.svg" %}
    </a>
    <ul>
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url | url }}" {{ site.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a >
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% if pageName === "index" %}
    <div class="site-title">
      <h1 class="headline color-light-shade" data-highlight="tertiary">{{ site.name }}</h1>
      <a href="/" aria-label="{{ site.name }} - home" class="hidden-logo">
        {% include "../../images/favicon.svg" %}
      </a>
    </div>

  {% endif %}
</header>